<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
			<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
		</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<appSettings>
		<add key="LogFileName" value="tms.log" />
		<add key="LogDirectory" value="" />
		
		<add key="Server" value="phtfaw4p6a970uc0.cbetxkdyhwsb.us-east-1.rds.amazonaws.com" />
		<add key="User" value="x4sqrh7d39h1orji" />
		<add key="Port" value="3306" />
		<add key="Password" value="p6z1zn2nmrv396ke" />
		<add key="DatabaseName" value="qbwrvu2d70g3dyis" />
	</appSettings>

	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="ProcessId, DateTime" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>